body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

.sidebar {
    height: inherit;
    background-color: #EEF5FF;
    width: 250px;
}

.main {
    height: inherit;
    width: calc(100% - 250px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board-box {
    height: 754px;
    width: 754px;
    border: 4px solid #3D3B40;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-board {
    height: 750px;
    width: 750px;
    margin: 0;
    padding: 0;
}

.game-top{
    display: flex;
    
}

#board-blue {
    height: 300px;
    width: 300px;
    background-color: #1a42d5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-area {
    background-color: white;
    height: 235px;
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.block-holder {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.blue-blocks {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #1a42d5;
}

#board-red {
    height: 300px;
    width: 300px;
    background-color: #D71313;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-coins {
    background-image: url('./assets/blue-star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-blocks {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #D71313;
}

.red-coins {
    background-image: url('./assets/red-star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.path-vertical{
    height: 300px;
    width: 150px;
    background-color: rgb(227, 242, 237);
}