body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: monospace !important;
}

.sidebar {
    height: inherit;
    background-color: #EEF5FF;
    width: 250px;
}

.button-holder {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

#restart-game {
    margin-top: 20px;
}

.main {
    height: inherit;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.game-board-master {
    display: flex;
    width: 100%;
    justify-content: center;
}

.home-coin-holder {
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hch {
    padding: 4px;
    height: 200px;
    width: 50px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.hch>div {
    height: 50px;
    width: 50px;
}

#hch-blue {
    margin-right: 20px;
    box-shadow: rgba(8, 47, 148, 0.314) 0px 5px 15px;
}

#hch-red {
    margin-left: 20px;
    box-shadow: rgba(137, 2, 2, 0.35) 0px 5px 15px;
}

#hch-green {
    margin-left: 20px;
    box-shadow: rgba(52, 125, 15, 0.391) 0px 5px 15px;
}

#hch-yellow {
    margin-right: 20px;
    box-shadow: rgba(224, 232, 17, 0.35) 0px 5px 15px;
}

.game-board-box {
    height: 754px;
    width: 754px;
    border: 4px solid #3D3B40;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#game-board {
    height: 750px;
    width: 750px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.game-separator {
    display: flex;
    position: relative;
}

.white-area {
    background-color: white;
    height: 235px;
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.block-holder {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.game-centre {
    display: flex;
}

.path-vertical-one, .path-vertical-two {
    height: 300px;
    width: 150px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}


.path-horizontal-one, .path-horizontal-two {
    height: 150px;
    width: 300px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.home-color {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    box-sizing: border-box;
    border-left: 75px solid #1a42d5;
    border-right: 75px solid #00DFA2;
    border-top: 75px solid #D71313;
    border-bottom: 75px solid #FFF103;
    float: left;
}


/* Dice Holder */
.dice-holder {
    width: 758px;
    display: flex;
    justify-content: space-between;
}

.outer-dice {
    height: 100px;
    width: 220px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-box {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.dbb {
    cursor: pointer;
}

.dice-box-red {
    height: 60px;
    width: 60px;
    background-image: url('./assets/dice-1-red.png');
    background-size: cover;
}

.dice-box-blue {
    height: 60px;
    width: 60px;
    background-image: url('./assets/dice-1-blue.png');
    background-size: cover;
}

.dice-box-yellow {
    height: 60px;
    width: 60px;
    background-image: url('./assets/dice-1-yellow.png');
    background-size: cover;
}

.dice-box-green {
    height: 60px;
    width: 60px;
    background-image: url('./assets/dice-1-green.png');
    background-size: cover;
}


.dice-box-blank {
    height: 60px;
    width: 60px;
    border: 1px solid #333;
}

.color-star-red {
    height: 40px;
    width: 40px;
    background-image: url('./assets/red-star.png');
    background-size: cover;
}

.color-star-blue {
    height: 40px;
    width: 40px;
    background-image: url('./assets/blue-star.png');
    background-size: cover;
}


.color-star-green {
    height: 40px;
    width: 40px;
    background-image: url('./assets/green-star.png');
    background-size: cover;
}


.color-star-yellow {
    height: 40px;
    width: 40px;
    background-image: url('./assets/yellow-star.png');
    background-size: cover;
}

.finger-left {
    width: 80px;
    height: 80px;
    background-image: url('./assets/finger-left.png');
    background-size: cover;
    animation: vibrateAnimation 0.2s ease-in-out infinite alternate;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finger-right {
    width: 80px;
    height: 80px;
    background-image: url('./assets/finger-right.png');
    background-size: cover;
    animation: vibrateAnimation 0.2s ease-in-out infinite alternate;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* BLUE  */


#board-blue {
    height: 300px;
    width: 300px;
    background-color: #1a42d5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-blocks {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #1a42d5;
}

.blue-coins {
    background-image: url('./assets/blue-star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RED  */

#board-red {
    height: 300px;
    width: 300px;
    background-color: #D71313;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-blocks {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #D71313;
}

.red-coins {
    background-image: url('./assets/red-star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* YELLOW  */

#board-yellow {
    height: 300px;
    width: 300px;
    background-color: #FFF103;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-blocks {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #FFF103;
}

.yellow-coins {
    background-image: url('./assets/yellow-star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coin-rotate {
    background-size: 75%;
    border-radius: 50%;
    border: 2px dashed black;
    /* Dotted border */
    position: relative;
    animation: rotate 2s linear infinite;
    /* Rotation animation */
}

/* Keyframes for the rotation animation */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* GREEN  */


#board-green {
    height: 300px;
    width: 300px;
    background-color: #00DFA2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-blocks {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #00DFA2;
}

.green-coins {
    background-image: url('./assets/green-star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PATH BLOCKS */
.path-block {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 2px solid black;
}


/* horizontal path color */
#h_id_1_1, #h_id_7_1, #h_id_8_1, #h_id_9_1, #h_id_10_1, #h_id_11_1 {
    background-color: #3357dc;
}

#h_id_16_2, #h_id_10_2, #h_id_9_2, #h_id_8_2, #h_id_7_2, #h_id_6_2 {
    background-color: #77e5c8;
}


/* vertical path color */
#v_id_12_2, #v_id_13_2, #v_id_10_2, #v_id_7_2, #v_id_4_2, #v_id_1_2 {
    background-color: #e6e076;
}

#v_id_5_1, #v_id_4_1, #v_id_7_1, #v_id_10_1, #v_id_13_1, #v_id_16_1 {
    background-color: #e34949;
}


/* black star background color */

#v_id_11_2, #h_id_3_2, #v_id_6_1, #h_id_14_1 {
    background-image: url('./assets/black-star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .playground {
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

/* #dice {
    height: 80px;
    width: 80px;
    box-sizing: border-box;
    background-image: url('./assets/roll-dice.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    transform-style: preserve-3d;
} */

@keyframes rollAnimationKeyframes {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

/* #roll-dice {
    margin-right: 20px;
} */

.dice-rolling {
    animation: rollAnimationKeyframes 2s infinite linear;
}

/* #dice-holder {
    display: none;
} */

.button {
    font-family: monospace !important;
    width: fit-content;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #3D3B40;
    color: whitesmoke;
}

.button:hover {
    transition: 0.2s;
    background-color: transparent;
    border: 3px dotted 3D3B40;
    color: #3D3B40;
    font-weight: bold;
}

.disabled {
    background-color: transparent;
    color: grey;
    border: none;
    font-weight: bold;
    pointer-events: none;
    cursor: not-allowed;
}

#instruction {
    font-size: 20px;
    font-weight: 800;
}

/* .vibrate-effect {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: bisque;
    animation: vibrateAnimation 0.2s ease-in-out infinite alternate;
} */

@keyframes vibrateAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(20px);
    }
}

/* MODAL */
.modal {
    font-family: monospace !important;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content>h2 {
    color: #333;
}

.select-color-m {
    margin-top: 50px;
}

input {
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    font-weight: 800;
    outline: none;
}

.inp-blue {
    background-color: #1a42d5;
    color: whitesmoke;
}

.inp-blue:focus {
    border: 2px solid #1a42d5;
    background-color: transparent;
    color: #1a42d5;
}

.inp-red {
    background-color: #D71313;
    color: whitesmoke;
}

.inp-red:focus {
    border: 2px solid #D71313;
    background-color: transparent;
    color: #D71313;
}

.inp-yellow {
    background-color: #FFF103;
    color: #333;
}

.inp-yellow:focus {
    border: 2px solid #FFF103;
    background-color: transparent;
    color: #716c06;
}

.inp-green {
    background-color: #00DFA2;
    color: whitesmoke;
}

.inp-green:focus {
    border: 2px solid #00DFA2;
    background-color: transparent;
    color: #00DFA2;
}

.button-m {
    font-family: monospace !important;
    background-color: #1a42d5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-m:hover {
    background-color: #0428aa;
}

.button-c {
    font-family: monospace !important;
    border: 1px solid #D71313;
    color: #D71313;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-c:hover {
    background-color: #a10303;
    color: white;
}

.button-unselected {
    font-family: monospace !important;
    background-color: azure;
    color: #45a049;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-selected {
    font-family: monospace !important;
    background-color: #45a049;
    color: azure;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.m-bottom {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.m-inp-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cb-blue {
    accent-color: #1a42d5;
}

.cb-green {
    accent-color: #00DFA2;
}

.cb-red {
    accent-color: #D71313;
}

.cb-yellow {
    accent-color: #FFF103;
}

@keyframes blink-b {
    0% {
        background-color: #1a42d5;
    }

    50% {
        background-color: #1130a2;
    }

    100% {
        background-color: #1a42d5;
    }
}

.blink-blue {
    animation: blink-b 0.5s infinite;
}


@keyframes blink-r {
    0% {
        background-color: #D71313;
    }

    50% {
        background-color: #a80c0c;
    }

    100% {
        background-color: #D71313;
    }
}

.blink-red {
    animation: blink-r 0.5s infinite;
}


@keyframes blink-g {
    0% {
        background-color: #00DFA2;
    }

    50% {
        background-color: #099872;
    }

    100% {
        background-color: #00DFA2;
    }
}

.blink-green {
    animation: blink-g 0.5s infinite;
}



@keyframes blink-y {
    0% {
        background-color: #FFF103;
    }

    50% {
        background-color: #d6cd18;
    }

    100% {
        background-color: #FFF103;
    }
}

.blink-yellow {
    animation: blink-y 0.5s infinite;
}

.hide {
    display: none;
}

/* Player name */

#blue-player-name {
    /* display: none; */
    position: absolute;
    transform: rotate(90deg);
    top: 50%;
    left: -2%;
    color: whitesmoke;
    font-weight: 800;
    font-size: 15px;
}

#red-player-name {
    /* display: none; */
    font-size: 16px;
    position: absolute;
    top: 10%;
    left: 75%;
    top: 2%;
    color: whitesmoke;
    font-weight: 800;
}

#green-player-name {
    /* display: none; */
    font-size: 16px;
    position: absolute;
    transform: rotate(270deg);
    top: 50%;
    left: 93%;
    color: whitesmoke;
    font-weight: 800;
    white-space: nowrap;
}

#yellow-player-name {
    /* display: none; */
    position: absolute;
    font-size: 16px;
    bottom: 2%;
    left: 14%;
    color: #333;
    font-weight: 800;
}